@model IPagedList<TiffinMgmtSystem.Models.OrderDetail>
@using PagedList.Mvc;
@using PagedList;

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Order Details</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">@Html.ActionLink("Home", "Details", "User", new { id = Session["UserId"] })</li>
            <li class="breadcrumb-item active">My Orders</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive m-t-20 no-wrap">
                    @using (Html.BeginForm("Details", "User", FormMethod.Post))
                    {
                        <div class="row mx-auto px-3">
                            <text class="mt-3 font-weight-bold">From Date : </text>
                            @Html.TextBox("From", null, new { @class = "form-control col-md-3 m-2", @type = "date", max = DateTime.Now.ToString("yyyy-MM-dd") })
                            <text class="mt-3 font-weight-bold">To Date : </text>
                            @Html.TextBox("To", null, new { @class = "form-control col-md-3 m-2", @type = "date", max = DateTime.Now.ToString("yyyy-MM-dd") })
                            <input type="submit" Value="Generate Report" class="btn btn-success m-2" />
                        </div>
                        <table class="table vm no-th-brd pro-of-month">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.First().OrderDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.First().Total)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.First().VendorName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Count)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.First().Extra.ExtraName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.First().TiffinDetail.Type)
                                    </th>
                                </tr>
                            </thead>
                            @{ var Total = 0;
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OrderDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Total, new { @id = "totalId" })
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.VendorName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Count)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Extra.ExtraName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TiffinDetail.Type)
                                        </td>
                                    </tr>
                                    Total = Total + item.Total;
                                }
                            }
                        </table>
                        @Html.Label("Total Bill : " + Total, htmlAttributes: new { @style = "font-size: 25px; font-weight: 600", @class = "float-right text-dark mr-5" })
                        <div class="btn btn-group-lg">
                            @Html.PagedListPager(Model, page => Url.Action("Details", new { page }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true, LiElementClasses = new string[] { "page-item pagecount" } })
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
