@model TiffinMgmtSystem.Models.UserDetail

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Vendors</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "AdminVendor")</li>
            <li class="breadcrumb-item active">Edit Vendor</li>
        </ol>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.UserId)
    @Html.HiddenFor(model => model.Password)
    <div class="row">
        <div class="col-lg-4 col-xlg-3 col-md-5">
            <div class="card">
                <div class="card-body">
                    <center class="m-t-30">
                        <img src="~/Assets/images/user.png" class="img-circle" width="150" />
                        <h4 class="card-title m-t-10">@Html.DisplayFor(model => model.FirstName)  @Html.DisplayFor(model => model.LastName)</h4>
                        <h6 class="card-subtitle"> @Html.DisplayFor(model => model.UserType.Type)</h6>
                    </center>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-xlg-9 col-md-7">
            <div class="card">
                <div class="card-body">
                    <form class="form-horizontal form-material">
                        <div class="form-group">
                            <label class="col-md-12">@Html.LabelFor(model => model.FirstName)</label>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control form-control-line" } })
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12">@Html.LabelFor(model => model.LastName)</label>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control form-control-line" } })
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12"> Gender</label>
                            <div class="col-md-12">
                                @Html.DropDownList("GenderId", null, htmlAttributes: new { @class = "form-control custom-select" })
                                @Html.ValidationMessageFor(model => model.GenderId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12">@Html.LabelFor(model => model.PhoneNo)</label>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.PhoneNo, new { htmlAttributes = new { @class = "form-control form-control-line" } })
                                @Html.ValidationMessageFor(model => model.PhoneNo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="example-email" class="col-md-12">@Html.LabelFor(model => model.Email)</label>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control form-control-line", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12">User Type</label>
                            <div class="col-md-12">
                                @Html.DropDownList("UserTypeId", null, htmlAttributes: new { @class = "form-control custom-select", @disabled = "disabled" })
                                @Html.ValidationMessageFor(model => model.UserTypeId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12">Date of Joining</label>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control form-control-line", @type = "date", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                @Html.ActionLink("Cancel", "Index", new object { }, new { @class = "btn btn-danger" })
                                <button class="btn btn-info">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
