@model IPagedList<TiffinMgmtSystem.Models.UserDetail>
@using PagedList.Mvc;
@using PagedList;

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Vendors</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "AdminVendor")</li>
            <li class="breadcrumb-item active">Vendors</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-xs-6 col-md-6">
                            <div class="search-container">
                                @using (@Html.BeginForm("Index", "AdminVendor", FormMethod.Get))
                                {
                                    <div class="form-inline">
                                        @Html.TextBox("Search", null, new { placeholder = "Search", @class = "form-control mr-2" })
                                        <button type="submit" class="btn btn-search btn-info"><i class="fa fa-search"></i></button>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-6 col-md-6">
                            @Html.ActionLink("Create New", "Create", new object { }, new { @class = "btn waves-effect waves-light btn btn-info pull-right" })
                        </div>
                    </div>
                </div>
                <div class="table-responsive m-t-20 no-wrap">
                    <table class="table vm no-th-brd pro-of-month">
                        <thead>
                            <tr class="text-center">
                                <th colspan="2"> Name</th>
                                <th> @Html.DisplayNameFor(model => model.First().PhoneNo)</th>
                                <th> @Html.DisplayNameFor(model => model.First().Email)</th>
                                <th> @Html.DisplayNameFor(model => model.First().Date)</th>
                                <th> Gender</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        @if (Model.Count() == 0)
                        {
                            <tr>
                                <td colspan="4">
                                    No records match search criteria
                                </td>
                            </tr>
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                                <tbody>
                                    <tr>
                                        <td style="width:50px;"><span class="round">@Html.DisplayFor(modelItem => item.FirstName).ToString().Substring(0, 1) @Html.DisplayFor(modelItem => item.LastName).ToString().Substring(0, 1)</span></td>
                                        <td>
                                            <h6> @Html.DisplayFor(modelItem => item.FirstName)  @Html.DisplayFor(modelItem => item.LastName)</h6><small class="text-muted">@Html.DisplayFor(modelItem => item.UserType.Type)</small>
                                        </td>
                                        <td> @Html.DisplayFor(modelItem => item.PhoneNo)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                        <td> @Html.DisplayFor(modelItem => item.Date)</td>

                                        <td>@Html.DisplayFor(modelItem => item.Gender.Name)</td>
                                        <td>
                                            @Html.ActionLink(" ", "Edit", new { id = item.UserId }, new { @class = "fa fa-edit fa-2x mr-2 text-primary" })
                                            @Html.ActionLink(" ", "Details", new { id = item.UserId }, new { @class = "fa fa-info-circle fa-2x mr-2 text-warning" })
                                            @Html.ActionLink(" ", "Delete", new { id = item.UserId }, new { @class = "fa fa-trash fa-2x text-danger" })
                                        </td>
                                    </tr>
                                </tbody>
                            }
                        }
                    </table>
                    <div class="btn btn-group-lg">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchBy = Request.QueryString["searchBy"], search = Request.QueryString["search"] }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true, LiElementClasses = new string[] { "page-item pagecount" } })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>